* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--mainColor);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --avatar: 9rem;
  --background: rgb(250, 250, 250);
  --shadow: rgba(0, 0, 0, 0.15);
  --lightShadow: rgba(0, 0, 0, 0.1);
  --mainColor: rgb(65, 83, 128);
  --contrast-light: white;
  --opacity: 1;
  min-width: 20rem;
}

.dark-theme {
  --background: rgb(48, 48, 48);
  --mainColor: rgb(197, 197, 197);
  --lightShadow: rgb(0, 0, 0, 0.15);
  --shadow: rgba(0, 0, 0, 0.4);
  --contrast-light: rgb(0, 0, 0, 0.3);
  --opacity: 0.7;
}

body {
  background-color: var(--background);
}

/* NAVBAR */
.nav {
  background-color: var(--background);
  -webkit-box-shadow: 1px 1px 15px var(--shadow);
          box-shadow: 1px 1px 15px var(--shadow);
  height: 4rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: fixed;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
}

.nav__wrapper {
  background-color: var(--background);
  height: 4rem;
  position: relative;
}

.toggle {
  display: inline-block;
  height: 2rem;
  width: 3rem;
}

.toggle__slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--background);
  border-bottom: 0.5px solid var(--contrast-light);
  -webkit-box-shadow: inset -2px -2px 6px var(--lightShadow), inset 2px 2px 6px var(--lightShadow);
          box-shadow: inset -2px -2px 6px var(--lightShadow), inset 2px 2px 6px var(--lightShadow);
  border-radius: 35px;
  padding: 0.25rem;
}

.toggle__slider:before {
  content: "";
  background-color: var(--mainColor);
  -webkit-box-shadow: 1px 1px 2px var(--shadow);
          box-shadow: 1px 1px 2px var(--shadow);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 60%;
  aspect-ratio: 1/1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
}

.toggle input {
  display: none;
}

.toggle input:checked + .toggle__slider {
  background-color: var(--background);
}

.toggle input:checked + .toggle__slider:before {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  background-color: rgba(245, 75, 154, 0.808);
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem 1fr 1fr;
      grid-template-columns: 5rem 1fr 1fr;
  padding: 0 1rem;
  width: auto;
}

.menu__menu-background {
  display: none;
}

.menu__logo img {
  width: 3rem;
  height: 3rem;
}

.menu__links__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.menu__icons__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
  grid-column-gap: 1rem;
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.menu__icon {
  cursor: pointer;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -3px -3px 3px var(--shadow), 4px 3px 12px var(--lightShadow);
          box-shadow: -3px -3px 3px var(--shadow), 4px 3px 12px var(--lightShadow);
}

.menu__icon:hover {
  background-color: var(--lightShadow);
}

.menu__hamburger-btn {
  display: none;
}

.menu__link {
  cursor: pointer;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-self: flex-end;
  font-weight: 700;
}

.menu__close-btn {
  display: none;
}

/* BODY */
.main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 1.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.main__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
}

/* CARD */
.card {
  height: calc(var(--avatar) * 2.75);
  aspect-ratio: 2/3;
  -webkit-box-shadow: -3px -3px 3px var(--shadow), 4px 3px 12px var(--lightShadow);
          box-shadow: -3px -3px 3px var(--shadow), 4px 3px 12px var(--lightShadow);
  border-radius: 0.5rem;
  background-color: var(--background);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
}

.card__wrapper {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

.card__header {
  height: auto;
  background-size: cover;
  background-position: center center;
  background-image: url("/images/blue-background.jpg");
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  opacity: var(--opacity);
}

.card__body {
  background-color: inherit;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 0 1rem;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.card__title {
  padding: 0.5rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.card__title h2 {
  font-size: 1rem;
  font-weight: 500;
}

.card__title h1 {
  font-size: 1.5rem;
}

.card__avatar {
  --avatar: 9rem;
  -webkit-box-shadow: -1px -1px 5px var(--shadow), 4px 3px 12px var(--lightShadow);
          box-shadow: -1px -1px 5px var(--shadow), 4px 3px 12px var(--lightShadow);
  cursor: pointer;
  height: var(--avatar);
  width: var(--avatar);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: calc(var(--avatar) / -2);
  top: calc(var(--avatar) / -2);
}

.card__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.card__info h3 {
  font-size: 1rem;
  font-weight: 500;
}

.card__info h4 {
  color: lightslategrey;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.card__info:before {
  content: "";
  width: 100%;
  border-bottom: 0.5px solid var(--lightShadow);
  position: absolute;
}

/* MODAL */
.img-modal {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  justify-items: center;
}

.img-modal__wrapper {
  display: none;
  -ms-grid-columns: 6rem 1fr 6rem;
      grid-template-columns: 6rem 1fr 6rem;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
  position: fixed;
  z-index: 1;
  overflow: hidden;
  left: 0;
  top: 0;
}

.img-modal__wrapper img {
  max-width: 50rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  border-radius: 1.5rem;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.img-modal__close {
  cursor: pointer;
  position: absolute;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 4rem;
  right: 1rem;
}

.img-modal__close i {
  color: var(--background);
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@media only screen and (max-width: 960px) {
  .main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .main__wrapper {
    -ms-grid-columns: 2rem 10fr 2rem;
        grid-template-columns: 2rem 10fr 2rem;
  }
  .img-modal__wrapper {
    -ms-grid-columns: 4rem 1fr 4rem;
        grid-template-columns: 4rem 1fr 4rem;
  }
}

@media only screen and (max-width: 600px) {
  /* MENU */
  .menu {
    display: none;
    width: 14rem;
    -ms-grid-columns: initial;
        grid-template-columns: initial;
    -ms-grid-rows: initial;
        grid-template-rows: initial;
  }
  .menu__mobile__background {
    display: none;
    position: fixed;
    background-color: var(--shadow);
    width: 100%;
    height: 100%;
    -webkit-animation: opacity 0.2s ease-in;
            animation: opacity 0.2s ease-in;
  }
  .menu__mobile--open {
    -webkit-animation: slide-from-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-from-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: var(--background);
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    -ms-grid-rows: auto auto auto 100%;
        grid-template-rows: auto auto auto 100%;
    display: -ms-grid;
    display: grid;
    height: 100%;
    position: fixed;
    right: 0;
    gap: 0.4rem;
  }
  .menu__hamburger-btn {
    display: -ms-grid;
    display: grid;
    margin-right: 1rem;
    justify-self: flex-end;
  }
  .menu__close-btn {
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    top: 1rem;
    right: 1rem;
    position: absolute;
  }
  .menu__links__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3rem 3rem;
        grid-template-rows: 3rem 3rem;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 100%;
  }
  .menu__icons__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3rem 3rem 3rem;
        grid-template-rows: 3rem 3rem 3rem;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 100%;
  }
  .menu__logo {
    margin-top: 0.5rem;
  }
  .menu__icon--mobile {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0.5rem;
  }
  .menu__link {
    -webkit-box-shadow: -3px -3px 3px var(--shadow), 4px 3px 12px var(--lightShadow);
            box-shadow: -3px -3px 3px var(--shadow), 4px 3px 12px var(--lightShadow);
    height: 2.25rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
  }
  .menu__link:hover {
    background-color: var(--lightShadow);
  }
  /* MAIN & CARD */
  .main {
    -ms-grid-columns: (minmax(calc(var(--avatar) * 2), 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(calc(var(--avatar) * 2), 1fr));
  }
  .main__wrapper {
    min-width: 20rem;
    -ms-grid-columns: 1rem 1fr 1rem;
        grid-template-columns: 1rem 1fr 1rem;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .card {
    width: 100%;
    height: calc(var(--avatar) * 3);
  }
  .card__wrapper {
    height: calc(var(--avatar) * 3);
    display: initial;
  }
  .img-modal__wrapper {
    -ms-grid-columns: 2rem 1fr 2rem;
        grid-template-columns: 2rem 1fr 2rem;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(30rem);
  }
  100% {
    -webkit-transform: translateX(-6rem);
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(30rem);
  }
  100% {
    -webkit-transform: translateX(-6rem);
    transform: translateX(0);
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */